* {
    box-sizing: border-box;
}
body {
    background-color: aqua;
    font-family: 'roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25em;
    overflow: hidden;
    margin: 0;
}

h3 {
    color: rgb(78, 69, 69);
    margin: 10px 0 20px;
    text-align: center;

}
.container { width: 500px;
}
textarea{
    border: none;
    display: block;
    width: 100%;
    height: 100px;
    font-family: inherit;
    padding: 10px;
    margin: 0 0 20px;
    font-size: 16px;
    color: rgb(78, 69, 69);

}

.tag {
    background-color: orange;
    color: rgb(78, 69, 69);
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0 5px 10px 0;
    font-size: 14px;
    display: inline-block;
    text-align: center;


}

.tag.highlight {
    background-color:palegoldenrod
}